[Desktop Entry]
Version=1.1
Type=Application
Categories=Game
Name=Snake
Comment=Snake Game
Terminal=false
Icon=/home/sarah/Dev/games/rust_snake/dist/snake-linux/res/icon.png
Exec=/home/sarah/Dev/games/rust_snake/dist/snake-linux/game/snake
Path=/home/sarah/Dev/games/rust_snake/dist/snake-linux/game/

StartupNotify=false
